# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py.class

# Virtual environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# pytest
.pytest_cache/
.cache/

# OS
.DS_Store

# CI/CD workflows
.github/

# Misc
*.log
